<p>Dear {{clientName}},</p>
<p style='margin-top: 16px'>
  Thank you for signing up for our service! To complete your registration and ensure the security of
  your account, please verify your email address by entering the One-Time Passcode (OTP) which is
  provided below:
</p>
<p style='margin-top: 12px; text-align: center;'>
  <span
    style='
          color: #fff;
          display: inline-block;
          text-align: center;
          line-height: 44px;
          width: 120px;
          font-weight: bold;
          background-color: #00A264;
          border: 1px solid #00A264;
          border-radius: 4px;
        '
  >{{otp}}</span>
</p>
<p style='margin-top: 12px'>
  Please enter this code on the registration page to activate your account. This OTP is valid for
  the next
  {{expiresIn}}
  minutes.
</p>
<p style='margin-top: 12px'>
  If you did not sign up for our service, please ignore this email. Your account will not be
  activated unless you enter the OTP on our registration page.
</p>
<p style='margin-top: 12px'>
  If you have any questions or need assistance, please do not hesitate to contact our support team.
  Thank you for choosing WAGE!
</p>