<p>Dear {{clientName}},</p>
<p style='margin-top: 16px'>
  Your password reset request has been received. To proceed with resetting your password, please use
  the One-Time Password (OTP) provided below:
</p>
<p style='margin-top: 12px; text-align: center;'>
  <span
    style='
          color: #fff;
          display: inline-block;
          text-align: center;
          line-height: 44px;
          width: 120px;
          font-weight: bold;
          background-color: #00A264;
          border: 1px solid #00A264;
          border-radius: 4px;
        '
  >{{otp}}</span>
</p>
<p style='margin-top: 12px'>
  This OTP is valid for the next
  {{expiresIn}}
  minutes.
</p>
<p style='margin-top: 12px'>
  If you did not sign up for our service, please ignore this email. Your account will not be
  activated unless you enter the OTP on our registration page.
</p>
<p style='margin-top: 12px'>
  If you have any questions or need assistance, please do not hesitate to contact our support team.
  Thank you for choosing WAGE!
</p>